
html, body, #canvas {
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  height: 100vh;
}
h2 {
  font-size: 24px;
  line-height: 30px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-transform: none;
  float: left;
}
.branding-icon {
  height: 40px;
  width: 40px;
  text-align: left;
  height: 60px;
  overflow: hidden;
  vertical-align: middle;
  content: url(//ssl.gstatic.com/docs/common/material_common_sprite181.svg);
}
.title-input {
  border: 1px solid transparent;
  border-radius: 2px!important;
  color: #999;
  background: #444;
  font-size: 24px;
  font-variant-ligatures: no-contextual;
  height: 20px;
  line-height: 22px;
  margin: 0;
  min-width: 1px;
  padding: 2px 7px;
  /*visibility: hidden;*/
}
.title-input:focus {
  border: 2px solid #1a73e8!important;
  margin: -1px;
  box-shadow: none;
  border-radius: 4px!important;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #4d90fe!important;
  color: #fff;
  outline: none;
}
.title-input:hover {
  border-color: #e5e5e5;
}
.navbar {
  position: relative;
  padding: 0px 0;
  border: none;
  background: #444;
  color: #999;
  display: block;
}
.container {
  display: table;
  box-sizing: border-box;
  width: 100%;
  padding: 0 25px;
}
.left-navbar {
  float: left;
}
.navbar-flip {
  float: right;
}
.navbar-nav > li {
  float: left;
  position: relative;
  list-style: none;
}
.navbar-nav > li > a {
  cursor: pointer;
  background-color: #f5f5f5;
  color: #444;
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  height: 40px;
  padding: 0 15px;
  line-height: 40px;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
}
.panel-parent {
  height: 90%;
  overflow: auto;
  /*margin-left: -35px;*/
}
.left-panel {
  height: 100%;
  overflow: auto;
  width: 16.666%;
  background: #333;
  color: #fff;
  float: left;
}
.main-panel {
  height: 100%;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  float: left;
}

.diagram-note {
  background-color: rgba(66, 180, 21, 0.7);
  color: White;
  border-radius: 5px;
  font-family: Arial;
  font-size: 12px;
  padding: 5px;
  min-height: 16px;
  width: 50px;
  text-align: center;
}

.needs-discussion:not(.djs-connection) .djs-visual > :nth-child(1) {
  stroke: rgba(66, 180, 21, 0.7) !important; /* color elements as red */
}
