html {
  --color-900: #1a237e;
  --color-800: #283593;
  --color-700: #303f9f;
  --color-600: #3949ab;
  --color-500: #3f51b5;
  --color-200: #9fa8da;
  --color-100: #c5cae9;
  --color-50: #e8eaf6;
  --color-10: #f0f2fe;
  --gray-300: #e0e0e0;
  --gray-50: #FAFAFA;
  --app-header-bg: var(--color-800);
  --app-header-bg-highlight: var(--color-600);
  --app-header-color: var(--gray-50);
  --app-menu-color: var(--color-900);
  --app-menu-bg: var(--color-10);
  --app-menu-selected: var(--color-600);
  --app-menu-bg-highlight: var(--color-100);
  --app-menu-toggled-bg: var(--color-600);
  --app-menu-toggled-color: var(--color-10);
  --app-editor-bg: white;
  --app-editor-bg-disabled: var(--gray-300);
  --app-footer-bg: var(--app-header-bg);
  --app-footer-color: var(--color-100);
  --app-footer-color-light: var(--color-10);
}
html, body, #canvas {
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  height: 100vh;
}
header {
  background-color: var(--app-header-bg);
  color: var(--app-header-color);
  user-select: none;
}
header h1 {
  font-size: x-large;
  margin: 0;
  padding: 4px 14px 0;
}

#aDownloadFile, #filePicker, header #butClose {
  display: none;
}

.title-input {
  border: 1px solid transparent;
  border-radius: 2px!important;
  color: var(--app-header-color);
  background-color: var(--app-header-bg);
  font-size: x-large;
  font-variant-ligatures: no-contextual;
  height: 20px;
  line-height: 22px;
  margin: 0;
  min-width: 1px;
  padding: 2px 7px;
  /*visibility: hidden;*/
}
.title-input:focus {
  border: 1px solid #4d90fe!important;
  color: var(--color-200);
  margin: -1px;
  box-shadow: none;
  border-radius: 4px!important;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
}
.title-input:hover {
  border-color: #e5e5e5;
}

.menuContainer {
  display: inline-block;
  position: relative;
}
.menuContainer>button:focus, .menuContainer>button:hover, .menuContainer>button[aria-expanded=true] {
  background-color: var(--app-menu-selected);
}

.menuContainer button:focus {
  outline: 0;
}
.menuContainer button {
  border: 0;
  cursor: pointer;
  font-size: 16px;
}
.menuContainer>button {
  background-color: inherit;
  color: inherit;
  min-width: 48px;
  padding: 4px 16px;
}
.menuContainer button {
  border: 0;
  cursor: pointer;
  font-size: 16px;
}
.menuContainer>button {
  background-color: inherit;
  color: inherit;
  min-width: 48px;
  padding: 4px 16px;
}

.menuContainer .menuItemContainer {
  background-color: var(--app-menu-bg);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,.2);
  min-width: 180px;
  position: absolute;
  z-index: 1;
}

.menuContainer .menuItemContainer button {
  background-color: var(--app-menu-bg);
  color: var(--app-menu-color);
  display: block;
  padding: 16px;
  text-align: left;
  width: 100%;
}
.menuItemContainer button:focus, .menuItemContainer button:hover {
  background-color: var(--app-menu-bg-highlight);
}

.menuContainer button {
  border: 0;
  cursor: pointer;
  font-size: 16px;
}
.menuContainer kbd {
  float: right;
  font-family: inherit;
}
.hidden {
  display: none!important;
}
:focus {
  outline: -webkit-focus-ring-color auto 1px;
}

h2 {
  font-size: 24px;
  line-height: 30px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-transform: none;
  float: left;
}
.branding-icon {
  height: 40px;
  width: 40px;
  text-align: left;
  height: 60px;
  overflow: hidden;
  vertical-align: middle;
  content: url(//ssl.gstatic.com/docs/common/material_common_sprite181.svg);
}
.navbar {
  position: relative;
  padding: 0px 0;
  border: none;
  background: #444;
  color: #999;
  display: block;
}
.container {
  display: table;
  box-sizing: border-box;
  width: 100%;
  padding: 0 25px;
}
.left-navbar {
  float: left;
}
.navbar-flip {
  float: right;
}
.navbar-nav > li {
  float: left;
  position: relative;
  list-style: none;
}
.navbar-nav > li > a {
  cursor: pointer;
  background-color: #f5f5f5;
  color: #444;
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  height: 40px;
  padding: 0 15px;
  line-height: 40px;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
}
.panel-parent {
  height: 90%;
  overflow: auto;
  /*margin-left: -35px;*/
}
.left-panel {
  height: 100%;
  overflow: auto;
  width: 16.666%;
  background: #333;
  color: #fff;
  float: left;
}
.main-panel {
  height: 100%;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  float: left;
}

.diagram-note {
  background-color: rgba(66, 180, 21, 0.7);
  color: White;
  border-radius: 5px;
  font-family: Arial;
  font-size: 12px;
  padding: 5px;
  min-height: 16px;
  width: 50px;
  text-align: center;
}

.needs-discussion:not(.djs-connection) .djs-visual > :nth-child(1) {
  stroke: rgba(66, 180, 21, 0.7) !important; /* color elements as red */
}

.icon-custom-triangle {
  background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22%2352B415%22%20width%3D%22270%22%20height%3D%22240%22%3E%3Cpath%20d%3D%22M8%2C40%20l%2015%2C-27%20l%2015%2C27%20z%22%2F%3E%3C%2Fsvg%3E');
}

.icon-custom-circle {
  background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22%23ffc800%22%20viewBox%3D%220%200%20120%20120%22%3E%3Ccircle%20cx%3D%2260%22%20cy%3D%2260%22%20r%3D%2240%22%2F%3E%3C%2Fsvg%3E');
}

.icon-custom-image {
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20id%3D%22master-artboard%22%20viewBox%3D%220%200%2046%2046%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20x%3D%220px%22%20y%3D%220px%22%20style%3D%22enable-background%3Anew%200%200%20336%20235.2%3B%22%20width%3D%2246px%22%20height%3D%2246px%22%3E%3Crect%20id%3D%22ee-background%22%20x%3D%220%22%20y%3D%220%22%20width%3D%2246%22%20height%3D%2246%22%20style%3D%22fill%3A%20white%3B%20fill-opacity%3A%200%3B%20pointer-events%3A%20none%3B%22%20transform%3D%22matrix(1%2C%200%2C%200%2C%201%2C%20-1%2C%200)%22%2F%3E%3Cg%20transform%3D%22matrix(2.8000011444091792%2C%200%2C%200%2C%202.8000011444091792%2C%201.5053627490996746%2C%203.010731220245418)%22%3E%3Cpath%20d%3D%22M10.71%2C4L7.85%2C1.15C7.6555%2C0.9539%2C7.339%2C0.9526%2C7.1429%2C1.1471C7.1419%2C1.1481%2C7.141%2C1.149%2C7.14%2C1.15L4.29%2C4H1.5%26%2310%3B%26%239%3BC1.2239%2C4%2C1%2C4.2239%2C1%2C4.5v9C1%2C13.7761%2C1.2239%2C14%2C1.5%2C14h12c0.2761%2C0%2C0.5-0.2239%2C0.5-0.5v-9C14%2C4.2239%2C13.7761%2C4%2C13.5%2C4H10.71z%26%2310%3B%26%239%3B%20M7.5%2C2.21L9.29%2C4H5.71L7.5%2C2.21z%20M13%2C13H2V5h11V13z%20M5%2C8C4.4477%2C8%2C4%2C7.5523%2C4%2C7s0.4477-1%2C1-1s1%2C0.4477%2C1%2C1S5.5523%2C8%2C5%2C8z%20M12%2C12%26%2310%3B%26%239%3BH4.5L6%2C9l1.25%2C2.5L9.5%2C7L12%2C12z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E')
}

#properties-panel-parent {
  background: #f8f8f8;
  border-left: solid 1px #ccc;
}